/* Typography */

$PRIMARY_FONT: "Roboto";

$HEADER_1: 400 32px/32px $PRIMARY_FONT;
$HEADER_2: 400 28px/28px $PRIMARY_FONT;
$HEADER_3: 400 26px/26px $PRIMARY_FONT;
$HEADER_4: 400 24px/32px $PRIMARY_FONT;
$HEADER_5: 400 22px/22px $PRIMARY_FONT;
$HEADER_6: 400 18px/18px $PRIMARY_FONT;

$TEXT_REGULAR: 400 13px/18px $PRIMARY_FONT;
$TEXT_SEMI_BOLD: 600 13px/18px $PRIMARY_FONT;
$TEXT_BOLD: 700 13px/18px $PRIMARY_FONT;
$TEXT_ITALIC: italic 400 13px/18px $PRIMARY_FONT;
$TEXT_ITALIC_SEMI_BOLD: italic 600 13px/18px $PRIMARY_FONT;
$TEXT_ITALIC_BOLD: italic 700 13px/18px $PRIMARY_FONT;


/* Colors */

$BRAND_GRAY_140: #3a444d;
$BRAND_GRAY_80: #aaafb2;